@black: #191919;
@white: #FCFCFC;
@weak-white: rgba(255, 255, 255, 0.4);
@opaque-bg: rgba(26, 25, 51, .53);
@error: #ff9494;


[v-cloak] {
  display: none;
}

nav {
  width: 100%;
  height: 40px;
  color: @white;
  font-family: 'Open Sans', Arial, sans-serif;
  background: @opaque-bg;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 10px;
    display: inline-block;
    width: 50px;
    height: 40px;
    float: right;

    &.logout {
      background: url(../icons/logout.svg) no-repeat;
      background-size: 25px;
      background-position: center;
      top: 5px;
      left: 91%;
    }
  }
}

body {
  &.login {
    background: url(../images/cascades_wa-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &.registration {
    background: url(../images/ElkLakeBC-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &.vault {
    background: url(../images/snoqualmie_pass-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.login, .registration {
  a, a:hover {
    color: @white;
  }
  .container {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100vh;
  }
  main {
    color: @white;
    font-family: 'Open Sans', Arial, sans-serif;
    background: @opaque-bg;
    width: 100%;
    max-width: 675px;
    height: 60%;
    padding: 5%;
  }
  header {
    height: 30%;
  }
  article {
    height: 70%;
  }
  form {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    label {
      display: none;
      &.error {
        display: block;
        color: @error;
        text-align: left;
      }
    }
    input {
      margin: 5px 0;
      width: 100%;
      background: transparent;
      border: 1px solid @weak-white;
      font-size: 18px;
      padding: 10px 45px;
      color: @white;
      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder {
        color: @white;
      }

      &:-moz-placeholder { /* Firefox 18- */
         color: @white;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
         color: @white;
      }

      &:-ms-input-placeholder {
         color: @white;
      }
    }
    input {
      &[name=email] {
        background: url(../icons/mail.svg) no-repeat;
        background-size: 25px;
        background-position: 10px 9px;
      }
      &[name=password] {
        background: url(../icons/padlock.svg) no-repeat;
        background-size: 25px;
        background-position: 10px 9px;
      }
      &[name=username] {
        background: url(../icons/user.svg) no-repeat;
        background-size: 25px;
        background-position: 10px 9px;
      }
    }
    input[type=submit] {
      margin: 10px 0 0;
      background: rgba(0, 0, 0, 0.2);
      &:hover, &:focus {
        background: rgba(0, 0, 0, 0.3);
        transition: background 130ms ease-in;
        color: @white;
      }
    }
  }
}
.vault {
  .container {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100vh;
  }
  main {
    color: @white;
    font-family: 'Open Sans', Arial, sans-serif;
    background: @opaque-bg;
    width: 100%;
    max-width: 625px;
    height: 80%;
    padding: 5%;
  }
  header {
    position: relative;
    .push-right {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  input {
    margin: 5px 0;
    width: 100%;
    background: transparent;
    border: 1px solid @weak-white;
    font-size: 18px;
    padding: 10px 45px;
    color: @white;
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: @white;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: @white;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: @white;
    }

    &:-ms-input-placeholder {
       color: @white;
    }
  }
  .icon-btn {
    border: 0 solid;
    background: rgba(0, 0, 0, 0);
    float: left;
    &:focus,
    &:hover {
      transition: color 130ms ease-in;
      color: rgba(255, 255, 255, 0.7);
      outline: none;
    }
  }
  .password-history {
    background: url(../icons/history.svg) no-repeat;
    background-size: 20px;
    background-position: 6px 3px;
    width: 30px;
    height: 30px;
  }

  section.passwords {
    font-size: 18px;
    height: 418px;
    margin: 15px -15px;
    padding: 0 15px;
    .search-header {
      &:hover {
        transition: background 130ms ease-in;
        background: rgba(0, 0, 0, 0.05);
      }
    }
    .empty-container {
      margin: 15px 15px 0;
    }
    .password-container {
      overflow-y: auto;
      overflow-x: hidden;
      height: 430px;
      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        outline: 1px solid slategrey;
      }
    }
    input {
      margin: 0;
      padding: 10px 15px;
      border: none;
      border-bottom: 1px solid @weak-white;

    }
    &.open {
      height: 360px;
    }
    .show-on-focus {
      display: none;
    }
    article {
      width: 100%;
      position: relative;
      padding: 10px 0;
      //margin: 0 -15px;
      div {
        padding: 0 15px;
        cursor: pointer;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.2);
        transition: background 130ms ease-in;
        .action-container {
          visibility: visible;
        }
      }
      &.focused {
        background: rgba(0, 0, 0, 0.30);
        transition: background 130ms ease-in;
        min-height: 90px;
        .action-container {
          visibility: visible;
        }
        .pinned {
          visibility: visible !important;
        }
        .show-on-focus {
          display: block;
        }
      }
      ul {
        list-style: none;
        margin: 10px 0 0;
        padding: 0 10px;
      }
      li {
        text-align: right;
        cursor: pointer;
        padding: 5px 10px;
        margin: 0 -10px;
        border-radius: 3px;
        &:hover {
          background: rgba(0, 0, 0, 0.2);
          transition: background 130ms ease-in;
        }
      }
    }
    .action-container {
      position: absolute;
      right: -5px;
      top: 0px;
      visibility: hidden;
    }
  }

  section.create-password {
    height: 0;
    &.open {
      height: 100px;
    }
    .position-relative {
      position: relative;
    }
    form {
      div {
        display: inline-block;
        float: left;
        padding: 2.5px 5px;
      }
      .row {
        width: 100%;
        margin: 0;
      }
      ul {
        padding: 0;
        list-style: none;
        [type=checkbox] {
          width: 20px;
        }
      }
      li {
        width: 30%;
        display: inline-block;
        &:first-child {
          width: 100%;
          position: relative;
          margin-bottom: 10px;
          span {
            position: absolute;
            right: 15px;
            top: -10px;
          }
        }
      }
    }
    label.error {
      color: @error;
    }
    input {
      margin: 0;
      width: 100%;
      background: transparent;
      border: 1px solid @weak-white;
      font-size: 16px;
      padding: 12px 5px;
      &:focus {
        outline: none;
      }
      &.invalid {
        border: 1px solid @error;
      }
      &::-webkit-input-placeholder {
        color: @white;
      }

      &:-moz-placeholder { /* Firefox 18- */
         color: @white;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
         color: @white;
      }

      &:-ms-input-placeholder {
         color: @white;
      }
    }

    .generate-btn {
      height: 47px;
      width: 47px;
      background: url(../icons/reload.svg) no-repeat;
      background-size: 25px;
      background-position: 10px 9px;
      position: absolute;
      top: 6px;
      right: 5px;
    }
    .upload-icon {
      height: 47px;
      width: 250px;
      background: url(../icons/padlock.svg) no-repeat;
      background-size: 22px;
      background-position: 40px 10px;
      margin: 0 auto;
      float: none;
      display: block;
      border: 1px solid @weak-white;
      &:hover {
        transition: background-color 30ms ease-in;
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
    input[type=submit] {
      margin: 10px 0 0;
      background: rgba(0, 0, 0, 0.2);
      &:hover, &:focus {
        background: rgba(0, 0, 0, 0.3);
        transition: background 130ms ease-in;
        color: @white;
      }
    }
  }
  section.update-password {
    height: 48px;
    position: relative;
    input {
      position: relative;
      margin: 0px 0 0;
      padding: 12px 10px;
    }
    form > div {
      margin: 10px 0 0 0;
      padding: 0;
      width: 70%;
      &:first-child {
        width: 30%;
        margin: 10px 0 0 0;
      }
    }
    .icon-btn {
      top: 10px;
      right: 16px;
    }
    label.error {
      display: none;
    }
  }
  section.delete-password {
    position: relative;
    p {
      margin: 15px 0 0;
    }
    .remove-icon {
      top: -2px;
      right: 13px;
      height: 33px;
      width: 55px;
      border-radius: 3px;
      position: absolute;
      &:hover {
        background: rgba(0, 0, 0, 0.2);
        transition: background 130ms ease-in;
      }
    }
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 90% !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #FFF;
  border-radius: 1.3px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #FFF;
  height: 10px;
  width: 10px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.profile-settings {
  width: 40%;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 2px;
  &:hover {
    transition: background 130ms ease-in;
    background: rgba(0, 0, 0, 0.15);
  }
}


.tooltip-inner {
  border-radius: 0;
  font-size: 14px;
  padding: 10px;
  width: 180px;
  //background: @opaque-bg;
}

//<div class="tooltip fade top in" role="tooltip" id="tooltip515430" style="top: -40px; left: 463.5px; display: block;">
//  <div class="tooltip-arrow" style="left: 74.7191%;"></div>
//  <div class="tooltip-inner">Create new password</div>
//</div>
