appdirs==1.4.0
cffi==1.9.1
crypto==1.4.1
cryptography==1.7.2
decorator==4.0.11
Django==1.10.5
django-extensions==1.7.6
django-formtools==2.0
django-otp==0.3.8
django-phonenumber-field==0.7.2
django-redis==4.7.0
django-two-factor-auth==1.5.0
idna==2.2
ipdb==0.10.2
ipython==5.2.2
ipython-genutils==0.1.0
Naked==0.1.31
packaging==16.8
pexpect==4.2.1
phonenumbers==7.7.5
pickleshare==0.7.4
prompt-toolkit==1.0.13
psycopg2==2.6.2
ptyprocess==0.5.1
pyasn1==0.2.2
pycparser==2.17
Pygments==2.2.0
pyotp==2.2.4
pyparsing==2.1.10
PyYAML==3.12
qrcode==4.0.4
redis==2.10.5
requests==2.13.0
requests-toolbelt==0.7.1
shellescape==3.4.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
wcwidth==0.1.7
