{% extends 'base/base.html' %}

{% block body_class %}about{% endblock %}

{% block nav %}

    {% include 'vault/components/nav.html' %}

{% endblock nav %}


{% block body %}

<main>

    <section class="introduction">
        <header>
            <h2>About</h2>
        </header>
        <p>This platform was designed to simply & securely store login credentials.
            By better managing the multitude of passwords we use for
            online services, we can increase our security and better maintain our privacy.
        </p>

        <p>This software leverages the latest encryption techniques to deliver full end-to-end encryption.
            Moreover, users are free to apply extra security features (e.g. MFA, Amazon Key Management Service)
            to establish their level of desired security.
        </p>
        <p>
            The focus on a user-friendly interface and high availability aims to remove the difficulties
            of managing one's online security.
        </p>
    </section>

    <section>
        <h3>System Design Tenets</h3>
        <h4># Security by design</h4>
        <p>
            It is impossible to lose, use, or abuse data one doesn’t possess.
            Therefore one designs systems to reduce the amount of sensitive user data
            stored or possible to be acquired.
        </p>

        <h4># Encryption works</h4>
        <p>
            When designing a system, one prefers security that is
            enforced by cryptography instead of enforced by software or personnel
            policy.
        </p>

        <h4># Comprehension & Transparency</h4>
        <p>
            One strives to fully understand all available and implemented tools.
            Commanding their strengths and weaknesses will maximize
            the ability to choose the correct tool for a particular task.
        </p>

        <h4># Audit & Testing</h4>
        <p>
            Through a suite of security tests, load tests and other tools, one can
            discover and eliminate vulnerabilities. Maintaining full test coverage
            ensures security during the development process.
        </p>
    </section>

    <section>
        <h3>Features</h3>

        <p>Project releases:</p>
        <ul>
            <li>Chrome extension: April 1st, 2017</li>
            <li>Android App: May 1st, 2017</li>
            <li>iOS: TBD</li>
        </ul>

        <h4>More platform details coming soon!</h4>

    </section>

</main>

{% endblock %}

{% block scripts %}

{% endblock scripts %}
