{% extends 'base/base.html' %}

{% load static %}

{% block body_class %}vault{% endblock %}


{% block body %}

<main class="vault" id="vault" v-cloak>
  <header>
    <h1>{{ user_name }}</h1>

    <button v-on:click="showCreatePassword = !showCreatePassword"
            type="button" class="icon-btn push-right"
            v-bind:title="toggleTitle"
            aria-label="Right Align">
      <span class="glyphicon glyphicon"
            v-bind:class="{'glyphicon-plus': hideCreatePassword, 'glyphicon-remove': showCreatePassword}"
            aria-hidden="true"></span>
    </button>

  </header>

  <section class="create-password" v-bind:class="{open: showCreatePassword}">
    <form v-on:submit.prevent="createPassword"
          v-show="showCreatePassword"
          data-never-disabled="true">
      <div>
        <input type="text"
               v-model="create.domainName"
               data-validate="required"
               class="domain-name skip-blur"
               placeholder="Domain Name" v-cloak/>
      </div>
      <div>
        <input type="text"
               placeholder="Password"
               data-validate="required"
               class="gen-password skip-blur"
               v-model="create.password" />
        <ul>
          <li>
            <input type="range"
              v-model="create.length"
              min="8"
              max="36"
              step="1">
            <span v-text="create.length"></span>
          </li>
          <li>
            <input id="letters" type="checkbox" value="letters" v-model="create.letters">
            <label for="letters">Letters</label>
          </li>
          <li>
            <input id="digits" type="checkbox" value="digits" v-model="create.digits">
            <label for="digits">Digits</label>
          </li>
          <li>
            <input id="symbols" type="checkbox" value="Symbols" v-model="create.symbols">
            <label for="symbols">Symbols</label>
          </li>
        </ul>
      </div>
      <button v-on:click.prevent="generatePassword"
              title="Generate random password"
              class="icon-btn generate-btn">
        <span class="reload-thin" aria-hidden="true"></span>
      </button>

      <button type="submit" class="icon-btn upload-icon"
        title="Store new password">
      </button>
    </form>
  </section>

  <section class="passwords" v-bind:class="{open: showCreatePassword}">
    <password-item v-for="password in passwords"
                   :key="password.key"
                   :lookup-key="password.key"
                   :domain-name="password.domainName"
                   :is-hovering="password.isHovering"
                   :new-password="password.newPassword"
                   :show-create-new="password.showCreateNew"
                   :show-history="password.showPasswordHistory"
                   :is-focused="password.isFocused"
                   :password-entities="password.passwordentitySet">
    </password-item>
    <div v-show="isEmpty && hideCreatePassword">
      <p>Looks like you don't have any passwords yet!</p>
    </div>
  </section>


</main>

{% csrf_token %}

<input type="hidden" id="guid" value="{{ guid }}" >

<template id="passwordItem">
  <article v-bind:class="{focused: isFocused}">
    <header v-on:click.capture="setFocus">
      <div v-text="domainName"></div>
      <div class="action-container">
        <button v-on:click="requestPassword"
                title="Show most recent password"
                class="icon-btn">
          <span class="glyphicon glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </button>
        <button v-on:click="changePassword = !changePassword"
                title="Replace password"
                class="icon-btn"
                v-bind:class="{pinned: changePassword}">
          <span class="glyphicon glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
        <button v-on:click="showPasswordHistory = !showPasswordHistory"
                title="Show password history"
                class="icon-btn password-history" v-bind:class="{pinned: showPasswordHistory}">
        </button>
        <button v-on:click="deletePassword"
                title="Delete password"
                class="icon-btn">
          <span class="glyphicon glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </header>

    <section class="show-on-focus create-password update-password" v-show="showCreateNew">
      <form v-on:submit.prevent="updatePassword"
            v-bind:id="lookupKey" >
        <input class="gen-password"
               placeholder="Enter new password here"
               data-validate="required"
               type="password" />
        <button type="submit" class="icon-btn upload-icon"
          title="Store new password">
        </button>
      </form>
    </section>
    <section class="show-on-focus" v-show="showHistory">
      <ul>
        <password-history-item
                class=text-right"
                v-for="entity in passwordEntities"
                :key="entity.guid"
                :created-time="entity.createdTime"
                :lookup-key="entity.guid">
        </password-history-item>
      </ul>
    </section>
  </article>
</template>


<template id="passwordHistoryItem">
  <li class=text-right"
      v-on:click="showHistoryItem"
      v-text="createdTime">
  </li>
</template>

{% endblock body %}


{% block scripts %}
    <script src="{% static 'vault/js/vault.js' %}"></script>
{% endblock scripts %}


