{% load staticfiles %}
<!DOCTYPE html>
<html>

<head lang="en">
    <!-- General Meta Data -->
    <meta charset="UTF-8">

    <title>SimplePass</title>

    <!-- Base Stylesheets -->
    <!--<link rel="shortcut icon" href="{% static 'reports/images/aptitude_analytics.ico' %}">-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- Site Stylesheets -->
    {% block stylesheets %}
    {% endblock %}
</head>


<body>
<!-- Main Site Body -->
<div class="container">
    {% block body %}
    {% endblock %}
</div>

<!-- Base Scripts -->
    <!--<script type="text/javascript" src="{% static 'reports/lib/bower_components/jquery/dist/jquery.js' %}"></script>-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
      integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

<!-- Site Scripts -->
    {% block scripts %}
    {% endblock %}
</body>
</html>