<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Simple Vault</title>
    <link rel="stylesheet" type="text/css" href="vault-styles.css" />
</head>

<body id="vault">
    <section class="login" v-show="showLogin">
        <div v-html="loginHtml"></div>
    </section>

    <section class="registration" v-show="showRegistration">
        <div v-html="registrationHtml"></div>
    </section>

    <section class="vault">
      <header>
        <h1>{{ userName }}</h1>

        <button v-on:click="showCreatePassword = !showCreatePassword"
                type="button" class="icon-btn push-right"
                v-bind:title="toggleTitle"
                aria-label="Right Align">
          <span class="glyphicon glyphicon"
                v-bind:class="{'glyphicon-plus': hideCreatePassword, 'glyphicon-remove': showCreatePassword}"
                aria-hidden="true"></span>
        </button>

      </header>

      <section class="create-password" v-bind:class="{open: showCreatePassword}">
        <form v-on:submit.prevent="createPassword"
              v-show="showCreatePassword"
              data-never-disabled="true">
          <div>
            <input type="text"
                   v-model="create.domainName"
                   data-validate="required"
                   class="domain-name skip-blur"
                   placeholder="Domain Name" v-cloak/>
          </div>
          <div>
            <input type="text"
                   placeholder="Password"
                   data-validate="required"
                   class="gen-password skip-blur"
                   v-model="create.password" />
            <ul>
              <li>
                <input type="range"
                  v-model="create.length"
                  min="8"
                  max="36"
                  step="1">
              </li>
              <li>
                <input id="letters" type="checkbox" value="letters" v-model="create.letters">
                <label for="letters">Letters</label>
              </li>
              <li>
                <input id="digits" type="checkbox" value="digits" v-model="create.digits">
                <label for="digits">Digits</label>
              </li>
              <li>
                <input id="symbols" type="checkbox" value="Symbols" v-model="create.symbols">
                <label for="symbols">Symbols</label>
              </li>
            </ul>
          </div>
          <button v-on:click.prevent="generatePassword"
                  title="Generate random password"
                  class="icon-btn generate-btn">
            <span class="reload-thin" aria-hidden="true"></span>
          </button>

          <button type="submit" class="icon-btn upload-icon"
            title="Store new password">
          </button>
        </form>
      </section>

      <section class="passwords" v-bind:class="{open: showCreatePassword}">
        <password-item v-for="password in passwords"
                       :lookup-key="password.key"
                       :domain-name="password.domainName">
        </password-item>
        <div v-show="isEmpty && hideCreatePassword">
          <p>Looks like you don't have any passwords yet!</p>
        </div>
      </section>


    </section>

<template id="passwordItem">
  <article>
    <div v-text="domainName"></div>
    <div class="action-container">
      <button v-on:click="requestPassword"
              title="Show password"
              class="icon-btn">
        <span class="glyphicon glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      </button>
      <button v-on:click="changePassword"
              title="Replace password"
              class="icon-btn">
        <span class="glyphicon glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span>
      </button>
      <button v-on:click="deletePassword"
              title="Delete password"
              class="icon-btn">
        <span class="glyphicon glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </article>
</template>

    <script src="jquery.min.js"></script>
    <script src="forms.js"></script>
    <script src="vue.min.js"></script>
    <script src="vault-vue.js"></script>
</body>

</html>