<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Simple Vault</title>
    <link rel="stylesheet" type="text/css" href="vault-styles.css" />

</head>

<body id="vault" v-cloak>
    <main>
    <section class="login" v-show="showMainIndex === 1">
        <main>
            <header class="text-center">
                <h1>Welcome</h1>
                <a href="." v-on:click.prevent="showMainIndex = 2">Don't have an account? Sign up.</a>
            </header>

            <article class="text-center">
                <form method="post" class="text-center validate valid" v-on:submit.prevent="submitLogin">
                        <div class="">
                            <input data-validate="required,email" id="id_email"
                                   maxlength="255" name="email" placeholder="Email" type="text" v-model="login.email">
                        </div>

                        <div class="">
                            <input data-validate="required" id="id_password" name="password"
                                   placeholder="Password" type="password" required=""
                                   class="valid" v-model="login.password">
                        </div>

                    <input type="submit" class="btn" value="Submit">
                </form>
            </article>
        </main>
    </section>

    <section class="registration" v-show="showMainIndex === 2">
        <a href="." v-on:click.prevent="showMainIndex = 1">Don't have an account? Sign up.</a>
    </section>

    <section class="vault" v-show="showMainIndex === 3">
        <nav>
          <ul>
            <li v-on:click="viewNavIndex = 1" class="passwords"
                v-bind:class="{active: viewNavIndex === 1}">Passwords</li>
            <li v-on:click="viewNavIndex = 2" class="current"
                v-bind:class="{active: viewNavIndex === 2}">Current</li>
            <li v-on:click="viewNavIndex = 3" class="generate"
                v-bind:class="{active: viewNavIndex === 3}">Generator</li>
          </ul>
        </nav>
          <section class="create-password" v-bind:class="{open: showCreatePassword}"
                   v-show="viewNavIndex === 3">
              <header class="section-header">
                  <h1>Create new Password</h1>
              </header>
            <form v-on:submit.prevent="createPassword"
                  v-show="viewNavIndex === 3"
                  class="generate-password"
                  data-never-disabled="true">
              <div>
                <input type="text"
                       v-model="create.domainName"
                       data-validate="required"
                       class="domain-name skip-blur"
                       placeholder="Domain Name" v-cloak/>
              </div>
              <div>
                <input type="text"
                       placeholder="Password"
                       data-validate="required"
                       class="gen-password skip-blur"
                       v-model="create.password" />
                  <button v-on:click.prevent="generatePassword"
                          title="Generate random password"
                          class="icon-btn generate-btn">
                    <span class="reload-thin" aria-hidden="true"></span>
                  </button>
              </div>
              <div>
                <ul>
                  <li>
                    <input type="range"
                      v-model="create.length"
                      min="8"
                      max="36"
                      step="1">
                    <span v-text="create.length"></span>
                  </li>
                  <li>
                    <input id="letters" type="checkbox" value="letters" v-model="create.letters">
                    <label for="letters">Letters</label>
                  </li>
                  <li>
                    <input id="digits" type="checkbox" value="digits" v-model="create.digits">
                    <label for="digits">Digits</label>
                  </li>
                  <li>
                    <input id="symbols" type="checkbox" value="Symbols" v-model="create.symbols">
                    <label for="symbols">Symbols</label>
                  </li>
                </ul>
              </div>

              <button type="submit" class="icon-btn upload-icon"
                title="Store new password">STORE
              </button>
            </form>
          </section>

          <section v-show="viewNavIndex === 1" class="passwords" v-bind:class="{open: showCreatePassword}">
              <header class="section-header">
                  <input type="text" placeholder="Search" v-model="searchTerm">
              </header>
            <password-item v-for="password in passwordsVisible"
                           :key="password.key"
                           :lookup-key="password.key"
                           :domain-name="password.domainName"
                           :domain-name-new="password.domainName"
                           :is-hovering="password.isHovering"
                           :new-password="password.newPassword"
                           :show-create-new="password.showCreateNew"
                           :show-history="password.showPasswordHistory"
                           :show-delete="password.showDelete"
                           :is-focused="password.isFocused"
                           :password-entities="password.passwordentitySet">
            </password-item>
            <div v-show="isEmpty && hideCreatePassword">
              <p class="empty">Looks like you don't have any passwords yet!</p>
            </div>
      </section>

        <section v-show="viewNavIndex === 2" class="current-website">
            <header class="section-header">
                <h1 v-text="currentWebsite.domainName"></h1>
            </header>
            <h1 class="full-url" v-text="currentWebsite.url"></h1>
            <p>Title: <span v-text="currentWebsite.title"></span></p>
            <p>Has password: <span v-show="currentWebsite.hasPassword">Yes</span>
                            <span v-show="!currentWebsite.hasPassword">No</span>
            </p>
        </section>


        <template id="passwordItem">
          <article v-bind:class="{focused: isFocused}">
            <header v-on:click.capture="setFocus">
              <div v-text="domainName"></div>
              <div class="action-container">
                <button v-on:click="requestCurrentPassword"
                        title="Show most recent password"
                        class="icon-btn">
                  <span class="glyphicon glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </button>
                <button v-on:click="changePassword = !changePassword"
                        title="Replace password"
                        class="icon-btn"
                        v-bind:class="{pinned: changePassword}">
                  <span class="glyphicon glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
                <button v-on:click="showPasswordHistory = !showPasswordHistory"
                        title="Show password history"
                        class="icon-btn password-history" v-bind:class="{pinned: showPasswordHistory}">
                </button>
                <button v-on:click="toggleDelete"
                        title="Delete password"
                        class="icon-btn">
                  <span class="glyphicon glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
            </header>

            <section class="show-on-focus create-password update-password" v-show="showCreateNew">
              <form v-on:submit.prevent="updatePassword"
                    v-bind:id="lookupKey" >
                <div>
                  <input type="text"
                         v-model="domainNameNew"
                         data-validate="required"
                         class="domain-name skip-blur"
                         placeholder="Domain Name" v-cloak/>
                </div>
                <div>
                  <input class="gen-password"
                         placeholder="Enter new password here"
                         data-validate="required"
                         type="password" />
                </div>
                <button type="submit" class="icon-btn upload-icon"
                  title="Store new password">
                </button>
              </form>
            </section>
            <section class="show-on-focus" v-show="showHistory">
              <ul>
                <password-history-item
                        class=text-right"
                        v-for="entity in passwordEntities"
                        :key="entity.guid"
                        :created-time="entity.createdTime"
                        :lookup-key="entity.guid">
                </password-history-item>
              </ul>
            </section>
            <section class="show-on-focus delete-password" v-show="showDelete > 0">
              <div v-show="showDelete === 1">
                <p>Are you sure you want to remove?</p>
                <button v-on:click="showDelete = 2"
                        title="Delete password"
                        class="icon-btn remove-icon">
                  Yes
                </button>
              </div>
              <div v-show="showDelete === 2">
                <p>Are you absolute sure?</p>
                <button v-on:click="deletePassword"
                        title="Delete password"
                        class="icon-btn remove-icon">
                  Yes!
                </button>
              </div>
            </section>
          </article>
        </template>


        <template id="passwordHistoryItem">
          <li class=text-right"
              v-on:click="requestPassword"
              v-text="createdTime">
          </li>
        </template>
    </section>

    <script src="jquery.min.js"></script>
    <script src="forms.js"></script>
    <script src="vue.min.js"></script>
    <script src="vault-vue.js"></script>
    </main>
</body>

</html>